[Match]
Name=eno1

[Network]
Description=LAN
DHCP=no
LinkLocalAddressing=ipv6
IPv6AcceptRA=no
IPv6SendRA=yes
DHCPPrefixDelegation=yes

[Address]
Address=10.0.0.1/8

[Address]
Address=fd96:55bb:ef1a:4455::1/64

[DHCPPrefixDelegation]
UplinkInterface=eno2

[IPv6SendRA]
Managed=yes
